html{
	min-height: 100vh;
	font-family: 'Noto Sans SC', sans-serif;
	overflow-y: scroll;
	background: linear-gradient(45deg, #feffff 0%,#d2ebf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
body{
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
}
header{
	margin: 0px;
	padding: 0px;
	height: 96px;
	background: linear-gradient(45deg, #131313 0%,#1c1c1c 9%,#2b2b2b 24%,#474747 61%,#666666 75%,#2c2c2c 100%,#2c2c2c 100%,#111111 100%,#111111 100%,#595959 100%,#000000 100%,#4c4c4c 100%,#595959 101%,#111111 101%,#111111 101%,#2c2c2c 101%,#2c2c2c 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#header-title{
	text-align: center;
	font-weight: bold;
	font-size: 48px;
	color: white;
}
h1, h2,p {
	margin: 0px;
	padding: 0px;
}
i {
	user-select: none;
}
#tool-bar{
	border-top: 1px solid lightgray;
	/*background: #283646;*/
	position: relative;
	height: 60px
}
main{
	margin: auto;
	max-width: 70%;
	width: 70%;
	position: relative;
	background: linear-gradient(45deg, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	min-height: 100vh;
}
#test-button-div{
	margin: 2px;
	display: inline-block;
}
.test-button{
	padding: 10px;
	margin: 2px;
}
.material-icons.green { color: green; }
.material-icons.green-border { color: green; border: 1px solid green;}
.material-icons.red-border { color: red; border: 1px solid red;}
.material-icons.red { color: red; }
.material-icons.gray { color: gray; }
.material-icons.gray { color: black; }
.material-icons.white { color: white; }
.material-icons.md-48 { font-size: 48px; margin: 5px; position: absolute;}
.material-icons.md-36 { font-size: 36px; margin: 5px; position: absolute;}
.material-icons:hover{
	cursor: pointer;
}
.success-bg {
	background: linear-gradient(45deg, #73880a 0%,#73880a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	margin: 5px;	
}
.failure-bg {
	margin: 5px;
	background-image: linear-gradient(45deg, #f85032 0%,#f6290c 0%,#e73827 0%,#f6290c 1%,#f16f5c 100%,#f02f17 100%); /* Chrome10-25,Safari5.1-6 */
}
.test-header{
	font-weight: bold;
	color: #28343b;
	display: inline-block;
}
.success-child-rows,.failure-child-rows{
	padding: 10px;
	border-bottom: 2px solid green;
	/*margin: 20px;*/
	margin-left: 50px;
}
.failure-child-rows{
	border-bottom: 2px solid red;
}

.actual-result, .expected-result{
	min-width: 100vh;
	min-height: 200px;
}
.result-text-area{
	display: inline-block;
	margin: 20px;
}
.elapsed-time{
	font-size: 12px;	
}
input[type="submit"]{	
    background: transparent;
    padding: 15px;
    border-radius: 5px;
    border-style: solid;
    background: lightskyblue;
    color: white;
    border-color: white;
    font-size: 16px;
    width: 62px;
    font-family: 'Noto Sans SC', sans-serif;
}
input[type="submit"]:hover{	   
    background: darkblue;
    color: white;
    border-color: blue;
    font-weight: bold;
}

.test-result-div-parent, .test-result-div-parent-left{
	background-color: white;
	border: 1px solid lightgray;
    width: 150px;
	max-width: 150px;
	border-radius: 5px;
	height: 50px;
	margin: 5px;	
	display: inline-block;
	float: right;
	position: relative;
}
.test-result-div-parent-left{
	float: left;
	width: 450px;
	max-width: 450px;
	margin-left: 5px;
}
#result-label-span{
	background-color: lightgray;
	color: black;
	height: 50px;
	width: 50px;
	display: inline-block;
}
.result-number
{
    font-size: 24px;
    color: #28343b;
    position: absolute;
    display: inline-block;
    left: 90px;
    top: 5px;
    font-weight: bold;
}
.result-number-green{
	color: #299a0b;
}
.result-number-red{
	color: #ff1a00;
}
.result-details{
	margin-top: 30px;
}